<!DOCTYPE html>
<html>
	<head>
		<title>Телефонный справочник</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/app.js" defer></script>
	</head>
	<body>
		<h1>Телефонный справочник</h1>
		<div class="search-wrap">
			<input id="search" type="text" placeholder="Поиск" />
			<button id="searchBtn" class="search">Sarch</button>
		</div>
		<ul class="list" id="list"></ul>
	</body>
</html>
